a{
    padding: 5px;    
    text-decoration: none;
    /* border: 1px solid red; */
    background-color: darkorange;
    border-radius: 25px;
    color: white;
}

a:hover{
    background-color: gray;
}
/* a:visited{
    color: blue;
} */
a:active{
    background-color: brown;
} 